h1 {
    text-align: center;
    color: purple;
}
.infor {
    border: 3px black solid;
    width: 550px;
    border-radius: 20px 20px 0px 0px;
}
div {
    position: absolute;
}
#personal {
    top: 150px;
    left: 100px;
}
#laboral {
    top:300px;
    right: 100px;
}
.foto {
    width:120px;
    position: absolute;
    top:50px;
    right: 50px;
}